:root {
  --bg-color: rgb(20, 20, 20);

  --color: blanchedalmond;
  --cards-color: 255, 255, 255;
}

#root,
body {
  background-color: var(--bg-color);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brands-container {
  /* height: 80vh; */
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10vh 0;
}

.brand-card {
  background-color: rgba(var(--cards-color), 0.2);
  border: 1px solid rgba(var(--cards-color), 0.1);
  height: 200px;
  width: 350px;
  border-radius: 1.5px;
  position: relative;
}

.brand-card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  width: 100%;
  z-index: 2;
}
